# Python Bytecode
__pycache__/
*.pyc

# Daten und Logfiles
/data/
*.csv
*/data/

# VS Code Arbeitsbereich
.vscode/

# Sonstige temporäre Dateien
*.log
*.tmp

# Lockfiles
*.lock
/lock/
*/lock/

# Sonstige Dateien
.DS_Store